.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;

}

body {
    background-color: #2a2a2a; /* 배경색을 어두운 회색으로 설정 */
    color: #f8f9fa; /* 텍스트 색상을 밝은 색으로 설정 */
}

.navbar-dark .navbar-nav .nav-link {
    color: #cccccc !important; /* 네비게이션 링크 색상 변경 */
}

.navbar-dark .navbar-brand {
    color: #cccccc !important; /* 브랜드 텍스트 색상 변경 */
}

.navbar-dark {
    background-color: #2a2a2a !important; /* NavBar 배경색을 어두운 회색으로 설정 */
}

.nav-tabs {
    background-color: #3a3a3a !important; /* 탭 배경색을 어두운 회색으로 설정 */
}

.nav-tabs .nav-link {
    background-color: #3a3a3a !important; /* 탭 링크 배경색을 어두운 회색으로 설정 */
    color: #f8f9fa !important; /* 탭 텍스트 색상을 밝은 색으로 설정 */
    border: 1px solid #555555; /* 테두리 색상 */
}

.nav-tabs .nav-link.active {
    background-color: #2a2a2a !important; /* 활성화된 탭 링크 배경색을 어두운 회색으로 설정 */
    border-bottom-color: transparent;
}

.nav-tabs .nav-link:hover {
    color: #ffffff !important; /* 호버된 탭 텍스트 색상을 밝은 색으로 설정 */
}

.scrollable-card {
    height: 500px; /* 필요에 따라 높이 조정 */
    overflow-y: auto;
    background-color: #3a3a3a; /* 배경색을 어두운 회색으로 설정 */
    color: #f8f9fa; /* 텍스트 색상을 밝은 색으로 설정 */
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 4px;
    scrollbar-color: transparent transparent; /* Firefox */
}

.scrollable-card2 {
    height: 500px; /* scrollable-card와 높이 맞추기 */
    overflow-y: auto;
    background-color: #3a3a3a; /* 배경색을 어두운 회색으로 설정 */
    color: #f8f9fa; /* 텍스트 색상을 밝은 색으로 설정 */
    padding: 10px;
    border: 1px solid #555555;
    border-radius: 4px;
    scrollbar-color: transparent transparent; /* Firefox */
}

.scrollable-card3 {
    height: 300px; /* 필요에 따라 높이 조정 */
    overflow-y: auto;
    background-color: #3a3a3a; /* 배경색을 어두운 회색으로 설정 */
    color: #f8f9fa; /* 텍스트 색상을 밝은 색으로 설정 */
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 4px;
    scrollbar-color: transparent transparent; /* Firefox */
}
.scrollable-card4 {
    height: 300px; /* 필요에 따라 높이 조정 */
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 4px;
    scrollbar-color: transparent transparent; /* Firefox */
}
.scrollable-card5 {
    height: 230px; /* 필요에 따라 높이 조정 */
    overflow-y: auto;
    padding: 5px;
    border: 1px solid #555555;
    border-radius: 4px;
    scrollbar-color: transparent transparent; /* Firefox */
}
.custom-link {
    color: #f8f9fa; /* 링크 텍스트 색상을 밝은 색으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
}

.custom-link:hover {
    color: #ffffff; /* 호버 시에도 밝은 색 유지 */
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

.card {
    background-color: #2a2a2a; /* 카드 배경색을 어두운 회색으로 설정 */
    color: #f8f9fa; /* 카드 텍스트 색상을 밝은 색으로 설정 */
    border: 1px solid #555555;
}

.card-header {
    background-color: #3a3a3a; /* 카드 헤더 배경색을 어두운 회색으로 설정 */
    color: #f8f9fa; /* 카드 헤더 텍스트 색상을 밝은 색으로 설정 */
    border-bottom: 1px solid #555555;
}

.badge {
    background-color: #555555; /* 배지 배경색을 어두운 회색으로 설정 */
    color: #000000; /* 배지 텍스트 색상을 검정색으로 설정 */
}
.btn-icon {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: #f8f9fa; /* 텍스트 색상 */
    padding: 0; /* 패딩 제거 */
    font-size: 1.2rem; /* 아이콘 크기 조정 */
    cursor: pointer; /* 커서 변경 */
}
.btn-icon2 {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: #f8f9fa; /* 텍스트 색상 */
    padding: 0; /* 패딩 제거 */
    font-size: 2.5rem; /* 아이콘 크기 조정 */
    cursor: pointer; /* 커서 변경 */
}
.btn-icon3 {
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    color: #f8f9fa; /* 텍스트 색상 */
    padding: 0; /* 패딩 제거 */
    font-size: 1.7rem; /* 아이콘 크기 조정 */
    cursor: pointer; /* 커서 변경 */
    margin-bottom: 7px;

}
.btn-icon:hover {
    color: #ffffff; /* 호버 시 색상 변경 */
}

.alert {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.spinner-border {
    color: #ffffff;
}
.form-control {
    background-color: #444444; /* 입력 필드 배경색 */
    color: #f8f9fa; /* 입력 필드 텍스트 색상 */
    border: 1px solid #555555; /* 테두리 색상 */
}
.form-container {
    display: flex;
    align-items: center;
    min-height: 20vh; /* 필요한 높이 설정 */
    margin-left: 0;
    width: 30%;
}

.form-control::placeholder {
    color: #cccccc; /* 플레이스홀더 색상 */
}

.main-content {
    background-color: #333333;
    height: 400px; /* 필요한 높이 설정 */
    margin-top: 20px;
}

.side-content {
    background-color: #444444;
    height: 400px; /* 필요한 높이 설정 */
    margin-top: 20px;
}

.small-placeholder::placeholder {
    font-size: 0.8em; /* 원하는 크기로 조정 */
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.trade-button {
    width: 48%; /* 버튼 너비 조정 */
    font-size: 1em; /* 버튼 텍스트 크기 조정 */
    padding: 10px; /* 버튼 내부 여백 조정 */
}

.wide-card {
    max-width: 500px; /* Adjust the width as needed */
    width: 100%; /* Ensures the card takes the full width available */
    margin: 0 auto; /* Centers the card */
}